//Mode dark
// $bg-dark: #0f172a;
$bg-dark: #020617;
$container-dark: #1e293b;
$title-dark: #f9f9f9;
$text-dark: #94a3b8;


//Mode light 
$container-light: #f8fafc;
$bg-light: #fff;
$title-light: #0f172a;
$text-light: #64748b;

//Couleurs general
$border-color: #e5e7eb;